<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true">
    <ion-item *ngFor="let post of posts" [href]="'/post-view/'+post['id']">
      <ion-avatar slot="start">
        <img alt="{{ post['name'] }}" src="{{ post['url'] }}" />
      </ion-avatar>
     <ion-label>{{ post['name'] }}</ion-label> 

    </ion-item>
  </ion-list>

</ion-content>
